body {
  width:100vw;
  overflow-x: hidden;
}

.jumbotron {
  background-color: #d0e1fb;
}

#project {
  background-color: #d0e1fb;
}

section {
  padding-top: 5rem;
}

.bd-logo {
  width: 41px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-position: 2px;
}
#project a {
  text-decoration: none;
  color: rgb(6, 60, 143);
  font-weight: 600;
}